<main class="container mt-5">
  <h2 class="text-center mb-4">Profile</h2>
  <div class="row">
    <div class="col-lg-12 mb-3">
      <div class="card shadow-sm user-bio-card">
        <div class="card-body">
          <div class="row">
            <div class="col-md-9">
              <h4 class="card-title" id="fullName">John Smith</h4>
              <p class="text-muted" id="username">@user1</p>
              <p id="description">
                Just a person who loves coding, reading, and coffee. Always
                exploring new technologies and seeking out adventures in the
                digital world.
              </p>
            </div>
            <div
              class="col-md-3 align-items-center justify-content-center d-flex"
            >
              <button class="btn btn-accent">Edit Profile</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-12">
      <div class="row">
        <div class="col-md-6 mb-4">
          <div class="card shadow-sm">
            <div class="card-header">Profile Details</div>
            <h4 class="card-title"></h4>
            <p class="text-muted"></p>
            <p></p>

            <ul class="list-group list-group-flush">
              <li class="list-group-item" id="profile-email">
                <strong>Email:</strong>
              </li>
              <li class="list-group-item" id="profile-joined">
                <strong>Joined:</strong>
              </li>
              <li class="list-group-item" id="profile-location">
                <strong>Location:</strong>
              </li>
            </ul>
          </div>
        </div>

        <div class="col-md-6 mb-4">
          <div class="card shadow-sm">
            <div class="card-header">Recent Activity</div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">No recent activity yet</li>
              <li class="list-group-item">No recent activity yet</li>
              <li class="list-group-item">No recent activity yet</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
