// Footer styles

.footer {
    background-color: #f8f9fa; 
    border-top: 1px solid #e7e7e7; 
  }
  
  .footer h5 {
    font-weight: bold;
    color: #0088FF; 
  }
  
  .footer a {
    color: #0088FF; 
  }
  
  .footer a:hover {
    text-decoration: none;
    color: #0056b3; 
  }
  
  .footer ul {
    padding-left: 0; 
  }
  
  .footer ul li {
    padding-bottom: 4px; 
  }
  
  .footer .social-media-icon {
    font-size: 1.25rem; 
  }
  
  
  .footer .border-top {
    color: #333;
  }
  
  .footer .link-dark:hover {
    color: #0056b3;
  }
  